*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.sass-cache
_jekyll

# browserify stuff
assets/javascripts/bundle.js
node_modules

# config
config.yml
.env
