<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jekyll Web</title>
  <%= stylesheet_tag 'styles' %>
</head>
<body>
  <div id="content"></div>
  <%= javascript_tag 'application' %>
</body>
</html>
